# packaging
pip>=9
setuptools>=26
wheel>=0.29
twine

# data science
numpy==1.18.5
pandas==1.2.3
scikit-learn==0.22
scipy==1.6.3

# utilities
six>=1.14

# API
twitchAPI==2.3.2

plotly==4.14.3
requests==2.25.1
streamlit==0.82.0

# tests/linter
black
coverage
flake8
pytest

# frontend
plotly==4.14.3
requests==2.25.1
streamlit==0.82.0