black==21.5b2
bs4==0.0.1
coverage==5.5
cython==0.29.23
flake8==3.9.2
geopy==2.1.0
html5lib==1.1
lxml==4.6.3
plotly==4.14.3
pytest==6.2.4
python-dotenv==0.17.1
scikit-learn==0.22
streamlit-wordcloud==0.1.0
twine==3.4.1
twitchapi==2.3.2
wordcloud==1.8.1